src/wsdl/localhost_8080/WebService/LineasAereas.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.iaew.frc.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.iaew.frc.edu/">

<xs:element name="consultarAeropuertosEnUnaCiudad" type="tns:consultarAeropuertosEnUnaCiudad"/>

<xs:element name="consultarAeropuertosEnUnaCiudadResponse" type="tns:consultarAeropuertosEnUnaCiudadResponse"/>

<xs:complexType name="consultarAeropuertosEnUnaCiudad">
<xs:sequence>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarAeropuertosEnUnaCiudadResponse">
<xs:sequence>
<xs:element name="return" type="tns:aeropuerto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aeropuerto">
<xs:sequence>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>